{% extends "layout.html" %}

{% block content %}
<h1>Agregar Nuevo Registro</h1>
<form action="" method="post">
    <label for="name">Nombre:</label><br>
    <input type="text" id="name" name="name"><br><br>
    <input type="submit" value="Agregar Registro">
</form>

<a href="/db" class="btn btn-success">Regresar a la lista</a>
{% endblock %}
