{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>Conceptualizacion de servicios en la nube</h1>
    <p>Unidad 3, Actividad 3.3 Aplicación web con base de datos.</p>
   <a type="button" class="btn btn-lg btn-primary" href="/db"><span class="glyphicon glyphicon-download"></span> Ir a la base de datos</a> 
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    DESARROLLO DEL ENTREGABLE
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> ¿Prombemas con del deploy</h3>
      <ul>
        <li>Uso de las rutas, al parecer muestra error con el method POST.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Otros aspectos</h3>
      <ul>
        <li>Aqui puedo describir algo mas</li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Universidad de Gudadalajara - Sistema de Universidad Virtual - Julio Cesar Ledesma Martinez
  </div>
</div>

{% endblock %}
