{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/Udg Virtual.jpg">
    </a>
    <h1>Conceptualización de servicios en la nube</h1>
    <p>Unidad 3, Actividad 3.3 Aplicación web con base de datos.</p>
   <a type="button" class="btn btn-lg btn-primary" href="/db"><span class="glyphicon glyphicon-download"></span> Ir a la base de datos CRUD</a> 
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    DESARROLLO DEL ENTREGABLE
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Problemas con del deploy</h3>
      <ul>
        <li>Intenté hacerlo con una Aplicación anterior, estaba hecha con codeigniter, unicamente requerí actualizar composer.lock pero aun así no permitió el acceso, al parecer es porque mi BD es en MySQL y requeire otra configuración.</li>
        <li>Hacerlo mediante la guía de Heroku requirió de hacer muchas actualizaciones, entre ellas fue la de composer, actualizar mi php, ademas de descomentar la extensión openSS requerí instalarla.</li>
        <li>No tengo conocimiento con el uso de PostGreSQL pero logré hacer la conexión, también requirió de instalación.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Problemas con la Aplicación</h3>
      <ul>
        <li>Uso de las rutas, al parecer muestra error con el method POST</li>
        <li>No se logró hacer la navegacion entre páginas.</li>
        <li>No logró hacer el CRUD, ya que al no poder cambiar entre páginas no edito, actualizo, elimino o agrego</li>
        <li>Considero que se requiere de mas tiempo, parece ser sufciente para esta actividad, pero al mismo tiempo otras asignaturas requieren de entregables</li>
      </ul>
       <h3><span class="glyphicon glyphicon-link"></span> Enlace a la aplicación web</h3>
      <ul>
        <li><a href="https://pure-brushlands-49131-6ecf02dc39e9.herokuapp.com/">Actividad 3.3 Aplicación web con base de datos</a></li>
      </ul>

    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Universidad de Guadalajara - Sistema de Universidad Virtual - Julio Cesar Ledesma Martínez
  </div>
</div>

{% endblock %}
